@model List <Gamification.Models.Users>


@{ 
    var i = 0;
}

<div class="row">

    <h3>LeaderBoard</h3>
    
    <table class="table table-responsive table-striped" >
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>Points Level1</th>
                <th>Points Level2</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                i++;
                int PointsTotal = 0;
                PointsTotal = Convert.ToInt32(user.Punten_LVL1) + Convert.ToInt32(user.Punten_LVL2);
            <tr>
                <th>@i</th>
                <th>@user.Username</th>
                <th>@user.First_Name</th>
                <th>@user.Last_Name</th>
                <th>@user.Countries.Name</th>
                <th>@user.Punten_LVL1</th>
                <th>@user.Punten_LVL2</th>
                <th>@PointsTotal</th>

            </tr>
            }
        </tbody>
    </table>
</div>