
@{
    ViewBag.Title = "Index";
    int TotalRegisteredPerCountry = 0;
    int TotalRegisteredPerDivision = 0;
}

<h2>Statistics</h2>

<h2><u>Number of people registered on the platform</u></h2>
    <h4>Whole app: <strong>@ViewBag.RegisteredPeopleWholeApp</strong></h4> 
  
    <h4>Per Country:</h4> 
        <table class="table table-statistics ">
            <tr>
                <th>Country</th>
                <th>Amount</th>
            </tr>
            @foreach (var Country in @ViewBag.RegisteredPeoplePerCountry as Dictionary<string, int>)
            {
                <tr>
                    <td>@Country.Key</td>
                    <td>@Country.Value</td>
                    @{ TotalRegisteredPerCountry = TotalRegisteredPerCountry + Country.Value; }
                </tr>
            }
                <tr>
                    <td>Total:</td>
                    <td>@TotalRegisteredPerCountry</td>
                </tr>
        </table>


    <h4>Per Division:</h4>   
        <table class="table  table-statistics">
            <tr>
                <th>Division</th>
                <th>Amount</th>
            </tr>
            @foreach (var Division in @ViewBag.RegisteredPeoplePerDivision as Dictionary<string, int>)
            {
                <tr>
                    <td>@Division.Key</td>
                    <td>@Division.Value</td>
                    @{ TotalRegisteredPerDivision = TotalRegisteredPerDivision + Division.Value; }
                </tr>
            }
            <tr>
                <td>Total:</td>
                <td>@TotalRegisteredPerDivision</td>
            </tr>
        </table>

<hr />

<H2><u>Number of people that earned badges</u></H2>
    <h4>Whole app:</h4> 
    <h4>Level 1:</h4> @*Simple Number*@
    <h4>Level 2:</h4> @*Simple Number*@

<hr />

<h2><u>Number of points earned</u></h2>
    <h4>Whole app:</h4>   @*Simple Number*@
    <h4>Level 1:</h4>     @*Simple Number*@
    <h4>Level 2:</h4>     @*Simple Number*@

<hr />

<h2></h2>