
@{
    ViewBag.Title = "PointsIndex";
    int TotalPointsLevel1PerCountry = 0;
    int TotalPointsLevel1PerDivision = 0;
    int TotalPointsLevel2PerCountry = 0;
    int TotalPointsLevel2PerDivision = 0;
}

@Html.Partial("StatisticsUIPartial")

<hr />

<h2><u>Number of points earned</u></h2>
<h3><u>Whole app:</u> <strong>@ViewBag.PointsEarnedWholeApp</strong></h3>

<hr />

<h3>Total Points Level 1: <strong>@ViewBag.PointsEarnedLevel1</strong></h3>

<hr />

<h4 id="PerCountryLevel1Div">Level 1 per Country:</h4>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-inline">

        <div class="form-group" style="margin-right:25px">
            <p><input type="checkbox" name="SearchByDivisionLevel1CheckBox" value="check" style="margin-right: 10px;" checked="checked" /> Search by division</p>
            <p>@Html.DropDownList("DivisionID",null, "--Select Item--" ,htmlAttributes: new { @class = "form-control", style = "width: 175px", @id = "dropdownCountryLevel1" })</p>
        </div>

        <div class="form-group" style="margin-top: 35px;">
            <p>
                <input id="PerCountryLevel1Search" name="SearchBtn" class="btn btn-success" type="submit" value="Search" />
                <a id="PerCountryLevel1Reset" href="@Url.Action("BadgeIndex", "Statistics")" class="btn btn-primary">Reset</a>
            </p>
        </div>
    </div>
}

@if (TempData["PerCountryByDivisionLevel1"] != null)
{
    <div class="alert alert-success">@TempData["PerCountryByDivisionLevel1"]</div>
}

<table class="table table-statistics ">
    <tr>
        <th>Country</th>
        <th>Amount</th>
    </tr>
    @foreach (var Country in @ViewBag.PointsEarnedLevel1PerCountry as Dictionary<string, int>)
    {
        <tr>
            <td>@Country.Key</td>
            <td>@Country.Value</td>
            @{ TotalPointsLevel1PerCountry = TotalPointsLevel1PerCountry + Country.Value; }
        </tr>
    }
    <tr>
        <td>Total:</td>
        <td>@TotalPointsLevel1PerCountry</td>
    </tr>
</table>

<h4 id="PerDivisionLevel1Div">Level 1 per Division:</h4>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-inline">

        <div class="form-group" style="margin-right:25px">
            <p><input type="checkbox" name="SearchByCountryLevel1CheckBox" value="check" style="margin-right: 10px;" checked="checked" /> Search by country</p>
            <p>@Html.DropDownList("CountryID",null, "Select Item" ,htmlAttributes: new { @class = "form-control", style = "width: 175px", @id = "dropdownDivisionLevel1" })</p>
        </div>

        <div class="form-group" style="margin-top: 35px;">
            <p>
                <input id="PerDivisionLevel1Search" name="SearchBtn" class="btn btn-success" type="submit" value="Search" />
                <a id="PerDivisionLevel1Reset" href="@Url.Action("BadgeIndex", "Statistics")" class="btn btn-primary">Reset</a>
            </p>
        </div>
    </div>

}

@if (TempData["PerDivisionByCountryLevel1"] != null)
{
    <div class="alert alert-success">@TempData["PerDivisionByCountryLevel1"]</div>
}

<table class="table  table-statistics">
    <tr>
        <th>Division</th>
        <th>Amount</th>
    </tr>
    @foreach (var Division in @ViewBag.PointsEarnedLevel1PerDivision as Dictionary<string, int>)
    {
        <tr>
            <td>@Division.Key</td>
            <td>@Division.Value</td>
            @{ TotalPointsLevel1PerDivision = TotalPointsLevel1PerDivision + Division.Value; }
        </tr>
    }
    <tr>
        <td>Total:</td>
        <td>@TotalPointsLevel1PerDivision</td>
    </tr>
</table>

<hr />

<h3>Total Points Level 2: <strong>@ViewBag.PointsEarnedLevel2</strong></h3>

<hr />

<h4 id="PerCountryLevel2Div">Level 2 per Country:</h4>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-inline">

        <div class="form-group" style="margin-right:25px">
            <p><input type="checkbox" name="SearchByDivisionLevel2CheckBox" value="check" style="margin-right: 10px;" checked="checked" /> Search by division</p>
            <p>@Html.DropDownList("DivisionID", null, "Select Item" ,htmlAttributes: new { @class = "form-control", style = "width: 175px", @id = "dropdownCountryLevel2" })</p>
        </div>

        <div class="form-group" style="margin-top: 35px;">
            <p>
                <input id="PerCountryLevel2Search" name="SearchBtn" class="btn btn-success" type="submit" value="Search" />
                <a id="PerCountryLevel2Reset" href="@Url.Action("BadgeIndex", "Statistics")" class="btn btn-primary">Reset</a>
            </p>
        </div>
    </div>
}

@if (TempData["PerCountryByDivisionLevel2"] != null)
{
    <div class="alert alert-success">@TempData["PerCountryByDivisionLevel2"]</div>
}

<table class="table table-statistics ">
    <tr>
        <th>Country</th>
        <th>Amount</th>
    </tr>
    @foreach (var Country in @ViewBag.PointsEarnedLevel2PerCountry as Dictionary<string, int>)
    {
        <tr>
            <td>@Country.Key</td>
            <td>@Country.Value</td>
            @{ TotalPointsLevel2PerCountry = TotalPointsLevel2PerCountry + Country.Value; }
        </tr>
    }
    <tr>
        <td>Total:</td>
        <td>@TotalPointsLevel2PerCountry</td>
    </tr>
</table>

<h4 id="PerDivisionLevel2Div">Level 2 per Division:</h4>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-inline">

        <div class="form-group" style="margin-right:25px">
            <p><input type="checkbox" name="SearchByCountryLevel2CheckBox" value="check" style="margin-right: 10px;" checked="checked" /> Search by country</p>
            <p>@Html.DropDownList("CountryID", null,"--Select Item--" ,htmlAttributes: new { @class = "form-control", style = "width: 175px", @id = "dropdownDivisionLevel2" })</p>
        </div>

        <div class="form-group" style="margin-top: 35px;">
            <p>
                <input id="PerDivisionLevel2Search" name="SearchBtn" class="btn btn-success" type="submit" value="Search" />
                <a id="PerDivisionLevel2Reset" href="@Url.Action("BadgeIndex", "Statistics")" class="btn btn-primary">Reset</a>
            </p>
        </div>
    </div>

}

@if (TempData["PerDivisionByCountryLevel2"] != null)
{
    <div class="alert alert-success">@TempData["PerDivisionByCountryLevel2"]</div>
}


<table class="table  table-statistics">
    <tr>
        <th>Division</th>
        <th>Amount</th>
    </tr>
    @foreach (var Division in @ViewBag.PointsEarnedLevel2PerDivision as Dictionary<string, int>)
    {
        <tr>
            <td>@Division.Key</td>
            <td>@Division.Value</td>
            @{ TotalPointsLevel2PerDivision = TotalPointsLevel2PerDivision + Division.Value; }
        </tr>
    }
    <tr>
        <td>Total:</td>
        <td>@TotalPointsLevel2PerDivision</td>
    </tr>
</table>

@* The Javascript takes care of correct table beeing scrolled into view when searching or resetting a certain table *@
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        console.log(localStorage.getItem("PerCountryLevel1"));
        console.log(localStorage.getItem("PerDivisionLevel1"));
        console.log(localStorage.getItem("PerCountryLevel2"));
        console.log(localStorage.getItem("PerDivisionLevel2"));

        if (localStorage.getItem("PerCountryLevel1")) {
            var ScrollTo = document.getElementById("PerCountryLevel1Div");
            ScrollTo.scrollIntoView();
        }

        if (localStorage.getItem("PerDivisionLevel1")) {
            var ScrollTo = document.getElementById("PerDivisionLevel1Div");
            ScrollTo.scrollIntoView();
        }

        if (localStorage.getItem("PerCountryLevel2")) {
            var ScrollTo = document.getElementById("PerCountryLevel2Div");
            ScrollTo.scrollIntoView();
        }

        if (localStorage.getItem("PerDivisionLevel2")) {
            var ScrollTo = document.getElementById("PerDivisionLevel2Div");
            ScrollTo.scrollIntoView();
        }

        localStorage.removeItem("PerCountryLevel1");
        localStorage.removeItem("PerDivisionLevel1");
        localStorage.removeItem("PerCountryLevel2");
        localStorage.removeItem("PerDivisionLevel2");

        var PerCountryLevel1Search = document.getElementById("PerCountryLevel1Search");
        PerCountryLevel1Search.addEventListener("click", function () {
            localStorage.setItem("PerCountryLevel1", "true");
        })

        var PerCountryLevel1Reset = document.getElementById("PerCountryLevel1Reset");
        PerCountryLevel1Reset.addEventListener("click", function () {
            localStorage.setItem("PerCountryLevel1", "true");
        })

        var PerDivisionLevel1Search = document.getElementById("PerDivisionLevel1Search");
        PerDivisionLevel1Search.addEventListener("click", function () {
            localStorage.setItem("PerDivisionLevel1", "true");
        })

        var PerDivisionLevel1Reset = document.getElementById("PerDivisionLevel1Reset");
        PerDivisionLevel1Reset.addEventListener("click", function () {
            localStorage.setItem("PerDivisionLevel1", "true");
        })

        PerCountryLevel2Search = document.getElementById("PerCountryLevel2Search");
        PerCountryLevel2Search.addEventListener("click", function () {
            localStorage.setItem("PerCountryLevel2", "true");
        })

        PerCountryLevel2Reset = document.getElementById("PerCountryLevel2Reset");
        PerCountryLevel2Reset.addEventListener("click", function () {
            localStorage.setItem("PerCountryLevel2", "true");
        })

        var PerDivisionLevel2Search = document.getElementById("PerDivisionLevel2Search");
        PerDivisionLevel2Search.addEventListener("click", function () {
            localStorage.setItem("PerDivisionLevel2", "true");
        })

        var PerDivisionLevel2Reset = document.getElementById("PerDivisionLevel2Reset");
        PerDivisionLevel2Reset.addEventListener("click", function () {
            localStorage.setItem("PerDivisionLevel2", "true");
        })
    });

    //Disable the --Select Item-- options for the dropdowns
    var DropdownCountryLevel1 = document.getElementById("dropdownCountryLevel1");
    if (DropdownCountryLevel1.selectedIndex == "0") {
        PerCountryLevel1Search.setAttribute("disabled", "true");
    }

    DropdownCountryLevel1.addEventListener("change", function () {
        if (DropdownCountryLevel1.selectedIndex == "0") {
            PerCountryLevel1Search.setAttribute("disabled", "true");
        }
        else {
            PerCountryLevel1Search.removeAttribute("disabled");
        }
    });

    var DropdownCountryLevel2 = document.getElementById("dropdownCountryLevel2");
    if (DropdownCountryLevel2.selectedIndex == "0") {
        PerCountryLevel2Search.setAttribute("disabled", "true");
    }

    DropdownCountryLevel2.addEventListener("change", function () {
        if (DropdownCountryLevel2.selectedIndex == "0") {
            PerCountryLevel2Search.setAttribute("disabled", "true");
        }
        else {
            PerCountryLevel2Search.removeAttribute("disabled");
        }
    });

    var DropdownDivisionLevel1 = document.getElementById("dropdownDivisionLevel1");
    if (DropdownDivisionLevel1.selectedIndex == "0") {
        PerDivisionLevel1Search.setAttribute("disabled", "true");
    }

    DropdownDivisionLevel1.addEventListener("change", function () {
        if (DropdownDivisionLevel1.selectedIndex == "0") {
            PerDivisionLevel1Search.setAttribute("disabled", "true");
        }
        else {
            PerDivisionLevel1Search.removeAttribute("disabled");
        }
    });

    var DropdownDivisionLevel2 = document.getElementById("dropdownDivisionLevel2");
    if (DropdownDivisionLevel2.selectedIndex == "0") {
        PerDivisionLevel2Search.setAttribute("disabled", "true");
    }

    DropdownDivisionLevel2.addEventListener("change", function () {
        if (DropdownDivisionLevel2.selectedIndex == "0") {
            PerDivisionLevel2Search.setAttribute("disabled", "true");
        }
        else {
            PerDivisionLevel2Search.removeAttribute("disabled");
        }
    });
</script>
