@model IEnumerable<Gamification.Models.Countries>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("AdminUIPartial")

<hr />

<h2>Country List</h2>

<p>
    @Html.ActionLink("Create New Country", "Create", null, new { @class = "btn btn-success" })
</p>

<hr />

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-inline">

        <div class="form-group" style="margin-right:25px;">
            <p><input type="checkbox" name="SearchByCountryCheckBox" value="check" checked="checked" style="margin-right: 10px;" />Search by country</p>
            <p>@Html.DropDownList("CountryID", null, "--Select Item--", htmlAttributes: new { @class = "form-control", style = "width: 175px", @id = "dropdownCountry" })</p>
        </div>

        <div class="form-group" style="margin-top: 35px;">
            <p>
                <input id="SearchBtn" name="SearchBtn" class="btn btn-success" type="submit" value="Search" />
                <a href="@Url.Action("Index", "Countries")" class="btn btn-primary">Reset</a>
            </p>
           
        </div>
    </div>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abbreviation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CountryID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.CountryID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CountryID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    
        //Disable the --Select Item-- options for the dropdowns

        var SearchBtn = document.getElementById("SearchBtn");
        var DropdownCountry = document.getElementById("dropdownCountry");
        if (DropdownCountry.selectedIndex == "0") {
            SearchBtn.setAttribute("disabled", "true");
        }

        DropdownCountry.addEventListener("change", function () {
            if (DropdownCountry.selectedIndex == "0") {
                SearchBtn.setAttribute("disabled", "true");
            }
            else {
                SearchBtn.removeAttribute("disabled");
            }
        });
    });
</script>